<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<start id="duke_bean" />-->
    <bean id="duke"
          class="com.springinaction.springidol.performer.Juggler"/>
    <!--<end id="duke_bean" />-->

    <!--<start id="poeticduke_bean" />-->
    <bean id="poeticDuke"
          class="com.springinaction.springidol.poem.PoeticJuggler">
        <constructor-arg value="#{15}"/>
        <constructor-arg ref="sonnet29"/>
    </bean>
    <!--<end id="poeticduke_bean" />-->

    <!--<start id="sonnet29_bean" />-->
    <bean id="sonnet29"
          class="com.springinaction.springidol.poem.Sonnet29"/>
    <!--<end id="sonnet29_bean" />-->

    <bean id="stage" class="com.springinaction.springidol.customer.Stage" factory-method="getInstance"/>

    <bean id="ticket" class="com.springinaction.springidol.customer.Ticket" factory-method="printTicket" scope="singleton"/>

    <bean id="customer" class="com.springinaction.springidol.customer.Customer">
        <constructor-arg ref="ticket"/>
    </bean>

    <bean id="auditorium" class="com.springinaction.springidol.customer.Auditorium" init-method="turnOnLights" destroy-method="turnOffLights"/>

    <!--<bean id="kenny" class="com.springinaction.springidol.performer.Instrumentalist">-->
    <!--<property name="song" value="Jingle Bells"/>-->
    <!--</bean>-->

    <bean id="kenny" class="com.springinaction.springidol.performer.Instrumentalist"
          p:song="Jingle Bells"
          p:instrument-ref="saxophone"/>

    <bean id="carl" class="com.springinaction.springidol.performer.Instrumentalist">
        <!--<property name="song" value="#{kenny.song?.toUpperCase()}"/>-->
        <!--<property name="song" value="#{kenny.song?kenny.song:'Greensleeves'}"/>-->
        <property name="song" value="#{kenny.song?:'Greensleeves'}"/>
    </bean>

    <bean id="saxophone" class="com.springinaction.springidol.performer.Saxophone"/>
    <bean id="guitar" class="com.springinaction.springidol.performer.Guitar"/>

    <bean id="kenny2" class="com.springinaction.springidol.performer.Instrumentalist">
        <property name="song" value="Jingle Bells"/>
        <!--<property name="instrument" ref="saxophone"/>-->
        <property name="instrument">
            <bean class="com.springinaction.springidol.performer.Saxophone"/>
        </property>
    </bean>

    <bean id="kenny3" class="com.springinaction.springidol.performer.Instrumentalist">
        <constructor-arg value="Jingle Bells"/>
        <constructor-arg>
            <bean class="com.springinaction.springidol.performer.Saxophone"/>
        </constructor-arg>
    </bean>

    <bean id="hank" class="com.springinaction.springidol.performer.OneManBand">
        <property name="instruments">
            <set>
                <ref bean="saxophone"/>
                <ref bean="guitar"/>
                <ref bean="guitar"/>
            </set>
        </property>
        <property name="someNonNullProperty">
            <null/>
        </property>
    </bean>
</beans>